[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
flake8 = "*"
hydra-core = "*"
openai = "*"
python-multipart = "*"

[dev-packages]
pypdf2 = "*"
pdf2image = "*"
pymupdf = "*"

[requires]
python_version = "3.10"
